body {
  font-family: 'Arimo', sans-serif;
  color: #ffffff;
  opacity: 87%;
  background-color: #121212;
}

.box {
  font-size: 2vmax;
  padding: 5vh;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #64b5f6;
}