---
import BaseHead from "../components/BaseHead.astro";
import HeaderNew from "../components/HeaderNew.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>

<body>
	<HeaderNew title={SITE_TITLE}/>
</body>
