---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE, SOCIAL_LINKS } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>

    <body>
        <Header class="fixed w-full" title={SITE_TITLE} />

        <main class="flex flex-col gap-2">
            <h1>Nathan Gage</h1>
            <div class="flex flex-col">
                <a href="/posts">/Posts</a>
                <a href="/about">/About</a>
            </div>
        </main>
    </body>
</html>
