---
import HeaderLinkNew from "./HeaderLinkNew.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<nav>
		<div class="site-links">
			<HeaderLinkNew href="/posts">Posts</HeaderLinkNew>
		</div>
		<div class="site-title">
			<HeaderLinkNew href="/">{SITE_TITLE}</HeaderLinkNew>
		</div>
		<div class="social-links">
			<HeaderLinkNew href="https://x.com/nathan___gage">X.com</HeaderLinkNew>
			<span>~</span>
			<HeaderLinkNew href="mailto:contact@nathangage.co">email</HeaderLinkNew>
			<span>~</span>
			<HeaderLinkNew href="https://linkedin.com/in/nathanagage">
				LinkedIn
			</HeaderLinkNew>
		</div>
	</nav>
</header>

<style>
	header {
		@apply m-auto py-0 px-1 bg-transparent;
	}
	nav {
		@apply flex justify-between;
	}
	.social-links {
		@apply flex gap-1;
	}
</style>
