---
import HeaderLink from "./HeaderLink.astro";

const { title } = Astro.props;
---

<header class="mx-auto py-1 px-2 bg-transparent">
	<nav class="grid grid-cols-2 md:grid-cols-3">
		<div class="justify-start">
			<HeaderLink href="/posts">Posts</HeaderLink>
		</div>
		<div class="md:flex hidden justify-center">
			<HeaderLink href="/">{title}</HeaderLink>
		</div>
		<div class="flex gap-1 justify-end">
			<HeaderLink href="https://x.com/nathan___gage">X.com</HeaderLink>
			<span>❙</span>
			<HeaderLink href="mailto:contact@nathangage.co">email</HeaderLink>
			<span>❙</span>
			<HeaderLink href="https://linkedin.com/in/nathanagage">
				LinkedIn
			</HeaderLink>
		</div>
	</nav>
</header>
