@tailwind base;
@tailwind components;
@tailwind utilities;

/* animated title */
@keyframes morph-title {
  from {
    opacity: 0%;
    filter: blur(100px);
  }
  40% {
    opacity: 60%;
    filter: blur(10px);
  }
  60% {
    opacity: 100%;
    filter: blur(0px);
  }
  to {
    opacity: 100%;
    filter: blur(0px);
  }
}

#morphA,
#morphB {
  animation-name: morph-title;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction: alternate;
}

#morphB {
  opacity: 0%;
  animation-delay: 4s;
}

/* animated links */
@keyframes morph-links {
  from {
    opacity: 0%;
    filter: blur(100px);
  }
  1% {
    opacity: 60%;
    filter: blur(10px);
  }
  to {
    opacity: 100%;
    filter: blur(0px);
  }
}

@layer base {
  .morph {
    filter: url(#threshold);
  }

  a {
    @apply no-underline ease-in-out duration-500 transition-all text-blue;
    animation-name: morph-links;
    animation-iteration-count: 1;
    animation-duration: 0.9s;
  }

  a:hover {
    @apply text-white ease-out transition-all blur-md;
  }
}

@font-face {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/arimo-v13-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Arimo Bold"), local("Arimo-Bold"),
    url("fonts/arimo-v13-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/arimo-v13-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/arimo-v13-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/arimo-v13-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("fonts/arimo-v13-latin-700.svg#Arimo")
      format("svg");
  /* Legacy iOS */
}

/* color settings */
@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}
